/* shared styles here  */
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
.btn-primary {
  border-radius: 8px;
  background: #ff900e;
  color: white;
  font-size: 1.25rem;
  font-weight: 600;
  padding: 20px 25px;
  border: 0;
  cursor: pointer;
}
#gray {
  color: #727272;
  font-size: 2.8rem;
  font-weight: 500;
}
#orange {
  color: #ff900e;
  font-size: 2.8rem;
  font-weight: 700;
}
.common-text {
  color: #727272;
  font-size: 1rem;
  font-weight: 400;
  padding: 2rem 0;
}
.title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
/* header section styles  */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 240px;
}
/* nav portion  */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  /* flex-grow: 4; */
  /* justify-content: space-around; */
  /* border: 1px solid; */
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-size: 18px;
  font-weight: 1rem;
}
nav a {
  text-decoration: none;
  color: #424242;
}
/* banner style here  */
.banner-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
}
.banner-title {
  color: #131313;
  font-size: 4rem;
  font-weight: 700;
}
.banner-text {
  padding: 2rem 0;
}
.banner-img {
  width: auto;
}
.banner-img > img {
  width: 100%;
  padding-top: 50px;
}

/* main secion styles  */
main {
  max-width: 1440px;
  margin: 0 auto;
}
/* team section here  */
.team {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
  gap: 76px;
  padding: 80px 60px;
}
.team-img-container {
  /* width: 50%; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.team-img {
  width: 100%;
}
.title {
  color: #131313;
  font-size: 2.8rem;
  font-weight: 700;
}
.team-text {
  max-width: 537px;
  padding: 1.6rem 0;
}

/* facts section here  */
.facts {
  padding: 20px;
}
.facts-card-container {
  display: flex;
  /* width: 100%; */
  justify-content: space-around;
}
.card {
  border-radius: 8px;
  border: 1px solid #ff900e;
  text-align: center;
  padding: 35px 40px;
}
.card-stats {
  color: #424242;
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  margin-top: 10px;
}
.card-title {
  color: #727272;
  font-size: 20px;
  font-weight: 600;
  margin-top: 5px;
}

/* responsive styles  */
/* MOBILE DEVICES  */
@media screen and (max-width: 576px) {
  header {
    padding: 20px;
  }
  nav,
  .team {
    flex-direction: column;
  }
  .nav-title {
    padding-bottom: 20px;
  }

  .team {
    padding: 20px;
  }
  .team-img-container {
    grid-template-columns: 1fr;
  }
  .facts-card-container {
    flex-direction: column;
    padding: 50px;
    gap: 20px;
  }
}

/* TABLET /MEDIUM DEVICES  */
@media screen and (min-width: 577px) and (max-width: 960px) {
  header {
    padding: 60px;
  }
  nav,
  .team {
    flex-direction: column;
  }
}
